.main{
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-image:url("../../public/zyro-image.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.container{
  width:500px;
  height: 85%;
  background-color: rgb(255, 255, 255,.5);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  overflow: hidden;
  box-shadow: 0px 0px 50px 25px rgba(255, 255, 255, 0.4);
}

.container_filter_image{
  width: 100%;
  height: 100%;
  background-image: url("../../public/casamento.png");
  background-size: cover;
  position: absolute;
  display: flex;
  align-items: center;
}

.container_box{
  width: 350px ;
  height: 120px;
  background-color: rgba(255, 255, 255, .4);
  border-radius: 10px;
  margin-top: 60px;
  backdrop-filter: blur(7px);

}

.modal{
  width: 350px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  margin-top: 0px;
  border-radius: 7px;
  display: grid;
  overflow: hidden;
}

.modal::before{
  content: "";
  position: relative;
  display: flex;
  width: 8px;
  height: 100%;
  top: 0;
  background-color: rgba(23, 23, 142, 0.786);
  left: 0;
}


.container_box h3,
.container_box input{
  font-size: 13px;
  margin-top: 10px;
  margin: 3px;
  color: rgba(23, 23, 142, 0.786);
}

.container_box input{
  padding: 5px;
  border: none;
  border-radius: 7px;
  width: 80%;
  margin-top: 10px;
}

.button{
  width: 40px;
  height: 35px;
  margin-top: 15px;
  border-radius: 7px;
  overflow: hidden;
  
}

.button button{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .4);
  background-image: url("../../public/aliancawebp-removebg-preview.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}